@keyframes float {
  0% {
    transform: translateY(0px);
  }

  55% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes colorShift {
  0% {
    color: $red;
  }

  55% {
    color: #f4ce44;
  }

  100% {
    color: $ice;
  }
}

@keyframes btn-shine {
  0% {
    transform: skewX(-45deg) translateX(-400px) scaleX(5);
  }

  50% {
    transform: skewX(-45deg) translateX(0) scaleX(3);
  }

  100% {
    transform: skewX(-45deg) translateX(0) scaleX(3);
  }
}

// Animation for gallery

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes menu-in-left {
  0% {
    transform: translate(-150%, -100%) translate3d(0, 0, 0);
  }

  100% {
    transform: translate(-50%, -100%) translate3d(0, 0, 0);
  }
}

@keyframes menu-in-right {
  0% {
    transform: translate(100%, 0%) translate3d(0, 0, 0);
  }

  100% {
    transform: translate(-50%, 0%) translate3d(0, 0, 0);
  }
}
