.errorModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 60;

  p {
    text-align: center;
    font-weight: 700;
  }
}

.errorMsgContainer {
  background-color: $red;
  width: 30%;
  padding: 30px 40px;
  border-radius: 10px;
  position: absolute;

  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
  }
}
