.modalFooter {
  background-color: inherit;
  color: $white;
  text-align: center;
  font-family: $bodyFont;
  font-size: 0.8rem;
  background-color: $black;

  p {
    margin: 0;
  }
}

@media screen and (max-width: 575px) {
  .modalFooter {
    font-size: 0.7rem;
    p {
      line-height: 1.5;
    }
  }
}
