//general style stripping and such
html {
  background-color: $black;
  color: $white;
}

ul,
li,
a,
input {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

label,
input,
button {
  font-family: $bodyFont;
  color: $black;
}

label {
  color: $white;
}

button,
input {
  border: none;
}

input {
  accent-color: $ice;
}

button {
  background-color: $ice;
  font-weight: 700;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}