//general style stripping and such
html {
  background-color: $black;
  color: $white;
}

body {
  font-family: $bodyFont;
}

ul,
li,
a,
input,
select {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

label,
input,
button,
select {
  font-family: $bodyFont;
  color: $black;
}

label {
  color: $white;
}

button,
input,
fieldset,
select {
  border: none;
  padding: 0;
  margin: 0;
}

button,
input,
select {
  padding: 15px 25px;
  border-radius: 50px;

  &:hover {
    cursor: pointer;
  }
}

a {
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  font-family: $bodyFont;
  &:hover {
    color: $red;
  }
}

input {
  accent-color: $ice;

  &:hover {
    cursor: text;
  }
}

button {
  background-color: $ice;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.4s ease-in-out;

  &:hover {
    background-color: $red;
  }

  &:disabled {
    color: rgba($black, 0.5);
    background-color: rgba($gray, 0.5);
    cursor: not-allowed;
  }
}

.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

select {
  box-shadow: 5px 5px 0px rgba($ice, 1);
  border: 2px solid $black;
}

// MAIN PAGE FOOTER PLACEMENT

.mainPageContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  gap: 20px;
}
