.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.loginPageNav {
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
}

.loginPageMain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 30px;
}

.loginPageText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.signInOptions {
  display: flex;
  gap: 10px;
  button {
    box-shadow: 5px 5px 0px rgba($white, 1);
    border: 2px solid $black;
  }
}

.loginContainer {
  background-color: #404040;
  width: 100%;
  border-radius: 10px;
  padding: 40px 20px;

  h2 {
    font-family: $bodyFont;
    font-size: clamp(1.1rem, 0.96rem + 0.7vw, 1.8rem);
    text-transform: uppercase;
  }

  form {
    background-image: none;

    input {
      margin-right: 0;
    }
  }
}

.logInAnonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0;
  }
}

.signUpControls {
  display: flex;

  button {
    font-size: 0.8rem;
    background-color: transparent;
    color: $ice;
    padding: 5px;
    transition: color 0.4s ease-in-out;

    &:hover {
      color: $red;
    }
  }
}

@media screen and (max-width: 575px) {
  .loginPageMain {
    flex-direction: column-reverse;
    .headerImgContainer img {
      max-height: 300px;
    }
  }
}
