// nav

.mainNav {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navLinks {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-color: transparent;
  z-index: 100;
  font-size: clamp(1.8rem, 1.44rem + 1.8vw, 3.6rem);
  text-shadow: 3px 4px 0 $black, -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black, 1px 1px 0 $black;

  //add 2 rects on top and bottom to prepare for swipe
  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    width: 100%;
    height: 80%;
    background-color: $red;
    transform-origin: center center;
    transition: all 500ms ease;
    z-index: -1;
  }
  
  &::before {
    //Position and transition for animation Open -> Closed
    top: 51%;
    transform: translate(100%, -100%) translate3d(0, 0, 0);
  }

  &::after {
    //Position and transition for animation Open -> Closed
    top: 49%;
    transform: translate(-150%, 0%) translate3d(0, 0, 0);
    transition-delay: 100ms;
  }

  li {
    transform: translateY(-10px);
    transition: transform 100ms ease 100ms;
  }

  a:hover {
    color: $ice;
  }

  button {
    background-color: transparent;
    color: $white;
    transition: 0.4s ease-in-out;
    padding: 0;
    margin: 0;
    text-shadow: 3px 4px 0 $black, -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black, 1px 1px 0 $black;
    &:hover {
      color: $ice;
    }
  }
}

.navLinksContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.currentUser {
  text-align: center;
  font-size: 0.8rem;
  margin: 20px 0 0;
}

.loggedInUser {
  font-weight: 700;
}

// login
.signUpModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.signUpContent {
  width: 500px;
  border-radius: 15px;
  width: fit-content;
  background-color: $black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
  form {
    background-image: none;
  }
  .loginAnonBtn {
    box-shadow: 10px 10px 0px rgba($white, 1);
    border: 2px solid $black;
  }
}

.logInForm,
.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-right: 0;
}

.loginBtn,
.signUpBtn {
  margin-top: 10px;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: $headingFont;
}

.aboutBtn {
  font-family: $headingFont;
}

.profileLink {
  text-transform: none;
}

// hamburger menu
.hamburgerMenu {
  position: relative;
  width: 45px;
  height: 35px;
  cursor: pointer;
  z-index: 1000;
}

.top,
.mid,
.bottom {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: $white;
  position: absolute;
}

.top {
  top: 0;
}

.mid {
  top: 45%;
}

.bottom {
  bottom: 0;
}

.showNav {
  visibility: visible;

  &::before {
    //Opening animation
    animation: menu-in-left 500ms ease;

    //Opened transform and transition
    transform: translate(-50%, -100%) translate3d(0, 0, 0);
    transition-duration: 100ms;
  }

  &::after {
    //Opening animation
    animation: menu-in-right 500ms ease 100ms;

    //Opened transform and transition
    transform: translate(-50%, 0%) translate3d(0, 0, 0);
    transition-duration: 100ms;
  }

  li {
    transform: translateY(0px);
    transition: transform 250ms ease;
  }
}