.ngramViewerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  p {
    line-height: 1.5;
  }
}

.ngramViewerMain {
  flex: 1;
}

.visualizerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.ngramViewer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ngramViewerHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    margin-bottom: 10px;
  }
  p {
    font-size: 0.8rem;
    margin-top: 0;
  }
}

.viewNgramPageBtn {
  border: 2px solid $black;
  box-shadow: 5px 5px 0px $ice;
}

.ngramForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: $white;
  background-image: none;
  padding: 30px;
  margin: 10px 0 0 0;
  border-radius: 30px;
  border: 2px solid $black;
  box-shadow: 5px 5px 0px $ice;
  fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    input[type='text']:disabled {
      color: rgba($black, 0.5);
      background-color: rgba($gray, 0.5);
      cursor: not-allowed;
    }
    p {
      color: $red;
    }
    legend {
      font-weight: bold;
      padding-bottom: 10px;
      color: $black;
      a {
        color: $red;
        &:hover {
          color: $ice;
        }
      }
    }
  }
  button {
    background-color: $red;
    box-shadow: 5px 5px 0px $ice;
    &:hover {
      background-color: $ice;
    }
  }
}

.ngramGraphBox {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.chartJsContainer {
  background-color: $white;
  border-radius: 30px;
  padding: 20px;
  width: 80vw;
  border: 2px solid #323031;
  box-shadow: 5px 5px 0px #c0f5fa;
}

// tooltip

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted $white;
  color: $ice;
  font-weight: bold;
}

.tooltip {
  .icon {
    font-size: 0.6rem;
  }
  .tooltipText {
    font-weight: 400;
    visibility: hidden;
    width: 300px;
    font-size: 0.8rem;
    background-color: $white;
    color: $black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: pre-wrap;
    // left: -100px;
    z-index: 1;
  }
}

.tooltip:hover {
  .tooltipText {
    visibility: visible;
  }
}

@media screen and (max-width: 800px) {
  .tooltip:hover {
    .tooltipText {
      visibility: hidden;
    }
  }
}
