html {
  font-size: 125%;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: $headingFont;
}

h2 {
  font-size: 3.6rem;
  color: $red;
  text-align: center;
}

h3 {
  font-size: clamp(1.1rem, 0.96rem + 0.7vw, 1.8rem);
}

p {
  font-family: $bodyFont;
}