.profileButtons {
    text-align: center;
}

.backButton {
    margin: 30px;
    border: 2px solid #323031;
    box-shadow: 5px 5px 0px $white;
}

.deleteProfileButton {
    color: $white;
    background-color: $red;
    margin: 30px;
    border: 2px solid #323031;
    box-shadow: 5px 5px 0px $white;
    transition: inherit;

    &:hover {
        color: $black;
        background-color: $white;
        box-shadow: 5px 5px 0px $red;
    }
}
