html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "DynaPuff", cursive;
}

h2 {
  font-size: clamp(1.8rem, 1.44rem + 1.8vw, 3.6rem);
  color: #ff5e5b;
  text-align: center;
}

h3 {
  font-size: clamp(1.1rem, 0.96rem + 0.7vw, 1.8rem);
}

p,
span {
  font-family: "Montserrat", sans-serif;
}

html {
  background-color: #323031;
  color: #fff;
}

ul,
li,
a,
input {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

label,
input,
button {
  font-family: "Montserrat", sans-serif;
}

button,
input {
  border: none;
}

input {
  accent-color: #c0f5fa;
}

button {
  background-color: #c0f5fa;
  font-weight: 700;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

.aboutModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutContent {
  width: 500px;
  background-color: #fff;
  border-radius: 15px;
  width: 60%;
}

.aboutHeader {
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
}
.aboutHeader h2 {
  margin-bottom: 10px;
  color: #ff5e5b;
  font-size: clamp(1.1rem, 0.96rem + 0.7vw, 1.8rem);
  text-transform: uppercase;
  text-shadow: 3px 4px 0 #323031, -1px -1px 0 #323031, 1px -1px 0 #323031, -1px 1px 0 #323031, 1px 1px 0 #323031;
}

.aboutTitle {
  margin: 0;
}

.aboutMain {
  padding: 0;
}
.aboutMain p {
  font-family: "Montserrat", sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0;
  color: #323031;
}

.howToTitle {
  text-align: left;
}

.aboutHowTo {
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
}
.aboutHowTo h2 {
  margin-bottom: 10px;
  color: #ff5e5b;
  font-size: clamp(1.1rem, 0.96rem + 0.7vw, 1.8rem);
  text-transform: uppercase;
  text-shadow: 3px 4px 0 #323031, -1px -1px 0 #323031, 1px -1px 0 #323031, -1px 1px 0 #323031, 1px 1px 0 #323031;
}
.aboutHowTo p {
  margin: 0;
  margin-bottom: 20px;
  color: #323031;
}

.closeButton {
  border: none;
  background: none;
}

.teamHeader {
  color: #ff5e5b;
  text-align: center;
  font-size: clamp(1.1rem, 0.96rem + 0.7vw, 1.8rem);
  text-transform: uppercase;
  margin-bottom: 40px;
  text-shadow: 3px 4px 0 #323031, -1px -1px 0 #323031, 1px -1px 0 #323031, -1px 1px 0 #323031, 1px 1px 0 #323031;
}

.teamContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team h3 {
  color: #ff5e5b;
  font-family: "DynaPuff", cursive;
  font-size: clamp(1.1rem, 0.96rem + 0.7vw, 1.8rem);
  text-transform: uppercase;
  text-shadow: 3px 4px 0 #323031, -1px -1px 0 #323031, 1px -1px 0 #323031, -1px 1px 0 #323031, 1px 1px 0 #323031;
}
.team i {
  color: #ff5e5b;
  margin: 0.8rem;
}

.modalFooter {
  background-color: #c0f5fa;
  text-align: center;
  padding: 10px;
}

header {
  height: 100vh;
}

.defaultColor {
  color: black;
}

.highlightColor {
  color: red;
}

.resultsDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
.resultsDisplay h3 {
  margin-bottom: 10px;
  color: #ff5e5b;
  text-transform: uppercase;
  text-shadow: 3px 4px 0 #323031, -1px -1px 0 #323031, 1px -1px 0 #323031, -1px 1px 0 #323031, 1px 1px 0 #323031;
}
.resultsDisplay li {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #323031;
  box-shadow: 10px 10px 0px #c0f5fa;
}
.resultsDisplay p {
  margin: 0 0 5px;
  color: #323031;
  text-transform: capitalize;
}

.galleryDesc {
  text-align: center;
  margin: 0;
}/*# sourceMappingURL=App.css.map */