html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "DynaPuff", cursive;
}

h1 {
  font-size: clamp(2.4rem, 1.92rem + 2.4vw, 4.8rem);
  line-height: clamp(2rem, 1.5rem + 2.5vw, 4.5rem);
  -webkit-animation: colorShift 15s ease-in-out alternate infinite;
          animation: colorShift 15s ease-in-out alternate infinite;
}
h1 span {
  font-size: clamp(1.8rem, 1.44rem + 1.8vw, 3.6rem);
  line-height: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
}

h2 {
  font-size: clamp(1.8rem, 1.44rem + 1.8vw, 3.6rem);
  color: #ff5e5b;
  text-align: center;
}

h3 {
  font-size: clamp(1.1rem, 0.96rem + 0.7vw, 1.8rem);
}

p,
span {
  font-family: "Montserrat", sans-serif;
}

html {
  background-color: #323031;
  color: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul,
li,
a,
input,
select {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

label,
input,
button,
select {
  font-family: "Montserrat", sans-serif;
  color: #323031;
}

label {
  color: #fff;
}

button,
input,
fieldset,
select {
  border: none;
  padding: 0;
  margin: 0;
}

button,
input,
select {
  padding: 15px 25px;
  border-radius: 50px;
}
button:hover,
input:hover,
select:hover {
  cursor: pointer;
}

a {
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  font-family: "Montserrat", sans-serif;
}
a:hover {
  color: #ff5e5b;
}

input {
  accent-color: #c0f5fa;
}
input:hover {
  cursor: text;
}

button {
  background-color: #c0f5fa;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.4s ease-in-out;
}
button:hover {
  background-color: #ff5e5b;
}
button:disabled {
  color: rgba(50, 48, 49, 0.5);
  background-color: rgba(224, 224, 224, 0.5);
  cursor: not-allowed;
}

.saveWordButton:focus {
  background-color: #ff5e5b;
}

.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

select {
  text-align: left;
  box-shadow: 5px 5px 0px #c0f5fa;
  border: 2px solid #323031;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../assets/chevron-down-solid.svg);
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: 90% 50%;
}

.mainPageContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
  gap: 20px;
}
.mainButtonsContainer button {
  border: 2px solid #323031;
  box-shadow: 5px 5px 0px white;
}

@-webkit-keyframes float {
  0% {
    transform: translateY(0px);
  }
  55% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  55% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes colorShift {
  0% {
    color: #ff5e5b;
  }
  55% {
    color: #f4ce44;
  }
  100% {
    color: #c0f5fa;
  }
}
@keyframes colorShift {
  0% {
    color: #ff5e5b;
  }
  55% {
    color: #f4ce44;
  }
  100% {
    color: #c0f5fa;
  }
}
@-webkit-keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes moveUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
.aboutModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 60;
}

.aboutContent {
  overflow-y: initial !important;
  background-color: #fff;
  border-radius: 15px;
  width: 50%;
}

.aboutHeader {
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
}
.aboutHeader h2 {
  margin-bottom: 10px;
  color: #ff5e5b;
  font-size: clamp(1.1rem, 0.96rem + 0.7vw, 1.8rem);
  text-transform: uppercase;
  text-shadow: 3px 4px 0 #323031, -1px -1px 0 #323031, 1px -1px 0 #323031, -1px 1px 0 #323031, 1px 1px 0 #323031;
}

.aboutTitle {
  margin: 0;
}

.aboutMain {
  padding: 0;
}
.aboutMain p {
  font-family: "Montserrat", sans-serif;
  color: #323031;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0;
}

.modalFooter {
  background-color: #c0f5fa;
  text-align: center;
  line-height: 1.5rem;
}
.modalFooter p {
  border-bottom: none;
}

.aboutHowTo {
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
}
.aboutHowTo h2 {
  margin-bottom: 20px;
  text-align: left;
  color: #ff5e5b;
  font-size: clamp(1.1rem, 0.96rem + 0.7vw, 1.8rem);
  text-transform: uppercase;
  text-shadow: 3px 4px 0 #323031, -1px -1px 0 #323031, 1px -1px 0 #323031, -1px 1px 0 #323031, 1px 1px 0 #323031;
}
.aboutHowTo p {
  margin: 0;
  margin-bottom: 20px;
  color: #323031;
  text-align: left;
}

.closeButton {
  border: none;
  background: none;
}

.teamHeader {
  color: #ff5e5b;
  text-align: center;
  font-size: clamp(1.1rem, 0.96rem + 0.7vw, 1.8rem);
  text-transform: uppercase;
  margin-bottom: 40px;
  text-shadow: 3px 4px 0 #323031, -1px -1px 0 #323031, 1px -1px 0 #323031, -1px 1px 0 #323031, 1px 1px 0 #323031;
}

.teamContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team h3 {
  color: #ff5e5b;
  font-family: "DynaPuff", cursive;
  margin-bottom: 10px;
  font-size: clamp(1.1rem, 0.96rem + 0.7vw, 1.8rem);
  text-transform: uppercase;
  text-shadow: 3px 4px 0 #323031, -1px -1px 0 #323031, 1px -1px 0 #323031, -1px 1px 0 #323031, 1px 1px 0 #323031;
}

.linkedIn {
  color: #323031;
  transition: all 0.2s ease-in-out;
}

.linkedIn:hover {
  transform: scale(1.05);
}

.modalFooter {
  background-color: inherit;
  color: #fff;
  text-align: center;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}
.modalFooter p {
  margin: 0;
}

@media screen and (max-width: 575px) {
  .modalFooter {
    font-size: 0.7rem;
  }
  .modalFooter p {
    line-height: 1.5;
  }
}
header {
  padding: 50px 0;
}

h1 {
  color: #ff5e5b;
  text-align: right;
  margin-bottom: 30px;
}
h1 span {
  font-weight: 400;
  text-transform: lowercase;
  display: block;
  color: #fff;
}

.mainSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 50px;
  background-image: url(../assets/blob.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
  padding: 20px 0;
}
form input,
form button {
  border: 2px solid #323031;
}
form input {
  margin-right: 10px;
  box-shadow: 5px 5px 0px #c0f5fa;
}
form button {
  box-shadow: 5px 5px 0px white;
}

.headerImgContainer {
  -webkit-animation: float 5s ease-in-out alternate infinite;
          animation: float 5s ease-in-out alternate infinite;
}

.backronymSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backronymSelect span {
  font-size: clamp(1.8rem, 1.68rem + 0.6vw, 2.4rem);
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}
.backronymSelect ul {
  margin: 20px 0;
}
.backronymSelect li {
  display: flex;
  margin-bottom: 5px;
}
.backronymSelect input[type=checkbox] {
  transform: translateY(-0.075rem);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  margin-right: 5px;
  color: #323031;
  width: 1.15rem;
  height: 1.15rem;
  border: 2px solid #ff5e5b;
  border-radius: 0.15rem;
  display: grid;
  place-content: center;
  transition: border 120ms ease-in-out;
}
.backronymSelect input[type=checkbox]::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  transform: scale(0);
  box-shadow: inset 1rem 1rem #ff5e5b;
  transition: 120ms transform ease-in-out;
}
.backronymSelect input[type=checkbox]:checked::before {
  transform: scale(1.25);
}
.backronymSelect input[type=checkbox]:hover {
  cursor: pointer;
}
.backronymSelect input[type=checkbox]:disabled {
  border: 2px solid #c0f5fa;
  cursor: not-allowed;
}
.backronymSelect label {
  text-transform: capitalize;
}

.userBackronym {
  margin: 0;
}

.defaultColor {
  color: #fff;
}

.highlightColor {
  color: #ff5e5b;
  border-bottom: 3px solid #ff5e5b;
}

.refreshBtn {
  padding: 0;
  background-color: transparent;
  color: #c0f5fa;
  font-weight: 400;
  text-transform: none;
  border-radius: 0;
  border-bottom: 2px solid #c0f5fa;
  margin-bottom: 10px;
}
.refreshBtn:hover {
  background-color: transparent;
}
.refreshBtn:disabled {
  background-color: transparent;
  color: rgba(224, 224, 224, 0.5);
  border-bottom: 2px solid rgba(224, 224, 224, 0.5);
  cursor: not-allowed;
}

.generatedBackronym {
  margin: 20px 0 40px;
  text-align: center;
  color: #fff;
  background-color: #ff5e5b;
  padding: 20px 40px;
  border-radius: 10px;
  border: 2px solid #323031;
}
.generatedBackronym span {
  display: block;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery p,
.gallery label {
  color: #323031;
}
.gallery label {
  font-weight: bold;
}
.gallery h2 {
  padding-bottom: 20px;
}

.sortingContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.resultsDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 50px 0 100px 0;
  padding: 0 20px;
}
.resultsDisplay h3 {
  margin-bottom: 10px;
  color: #ff5e5b;
  text-transform: uppercase;
  text-shadow: 3px 4px 0 #323031, -1px -1px 0 #323031, 1px -1px 0 #323031, -1px 1px 0 #323031, 1px 1px 0 #323031;
}
.resultsDisplay li {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #323031;
  box-shadow: 10px 10px 0px #c0f5fa;
}
.resultsDisplay p {
  margin: 0 0 5px;
  color: #323031;
  text-transform: capitalize;
}

.galleryDesc {
  text-align: center;
  margin: 0;
  font-weight: bold;
}

.galleryCard {
  position: relative;
}

.userGalleryControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 15px;
  right: 0;
}
.userGalleryControls .likeBtn {
  width: 50px;
  height: 50px;
  background: url(../assets/like-btn.png);
  background-repeat: no-repeat;
  background-position: left;
  transition: background-position 1s steps(29);
  transition-duration: 1s;
}
.userGalleryControls .likeBtn:active {
  transition-duration: 0s;
  background-position: -1450px 0;
}
.userGalleryControls .viewGalleryBtn {
  border: 2px solid #323031;
  box-shadow: 5px 5px 0px #fff;
}

.deleteBtn,
.likeBtn {
  background-color: transparent;
  color: #323031;
  padding: 0;
  transition: color 0.4s ease-in-out;
}
.deleteBtn:hover,
.likeBtn:hover {
  background-color: transparent;
  color: #ff5e5b;
}

.likeCount {
  font-size: 0.8rem;
  margin: 0 !important;
  color: #ff5e5b !important;
  font-weight: 700;
}

.galleryCard {
  position: relative;
}
.galleryCard .likeCount {
  color: #ff5e5b;
}

.cardOptions {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardOptions button {
  font-family: "DynaPuff", cursive;
  transition: 0.3s ease;
  background-color: transparent;
  padding: 5px;
}
.cardOptions button:hover {
  color: #ff5e5b;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

.closeGalleryBtn {
  margin: 30px;
  border: 2px solid #323031;
  box-shadow: 5px 5px 0px white;
}

.gallery {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  transform: scale(0);
  z-index: 1;
}
.gallery.openAnimate {
  z-index: 0;
  transform: scale(1);
}
.gallery.openAnimate .galleryModalBackground .galleryModal {
  -webkit-animation: moveUp 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: moveUp 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.gallery.openAnimate + .mainPageContent {
  z-index: 1;
  -webkit-animation: slideUp 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: slideUp 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.gallery.openAnimate.closeAnimate .galleryModalBackground .galleryModal {
  -webkit-animation: moveDown 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: moveDown 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.gallery.openAnimate.closeAnimate + .mainPageContent {
  -webkit-animation: slideDown 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: slideDown 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.gallery .galleryModalBackground {
  text-align: center;
}
.gallery .galleryModalBackground .galleryModal {
  background: #e0e0e0;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
  overflow-y: scroll;
  height: 100vh;
  padding: 0 20px;
  width: 100%;
}

.mainPage {
  position: relative;
  z-index: 0;
}

.mainNav {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.navLinks button {
  background-color: #323031;
  color: #fff;
  transition: 0.4s ease-in-out;
  padding: 0;
  margin: 0;
}
.navLinks button:hover {
  color: #ff5e5b;
}

.navLinksContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.loggedInUser {
  font-weight: 700;
}

.signUpModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.signUpContent {
  width: 500px;
  border-radius: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #323031;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
}
.signUpContent form {
  background-image: none;
}
.signUpContent .loginAnonBtn {
  box-shadow: 10px 10px 0px white;
  border: 2px solid #323031;
}

.logInForm,
.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-right: 0;
}

.loginBtn,
.signUpBtn {
  margin-top: 10px;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: "DynaPuff", cursive;
}

.aboutBtn {
  font-family: "DynaPuff", cursive;
}

.profileLink {
  text-transform: none;
}

.errorModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 60;
}
.errorModal p {
  text-align: center;
  font-weight: 700;
}

.errorMsgContainer {
  background-color: #ff5e5b;
  width: 30%;
  padding: 30px 40px;
  border-radius: 10px;
  position: absolute;
}

.errorPageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.errorPageContainer h1 {
  text-align: center;
  font-size: 2rem;
}

.errorPageImg {
  -webkit-animation: float 5s ease-in-out alternate infinite;
          animation: float 5s ease-in-out alternate infinite;
  padding-bottom: 30px;
}

.deleteMsgContainer {
  background-color: #323031;
}
.deleteMsgContainer p {
  color: #fff;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 20px;
}
.deleteMsgContainer button {
  border: 2px solid transparent;
  transition: color background-color border 0.4s ease-in-out;
}
.deleteMsgContainer button:hover {
  background-color: transparent;
  color: #ff5e5b;
  border: 2px solid #ff5e5b;
}
.deleteMsgContainer button:first-child:hover {
  color: #c0f5fa;
  border: 2px solid #c0f5fa;
}

.deleteControls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.deleteBackronym {
  background-color: #ff5e5b;
}

.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.loginPageNav {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginPageMain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 30px;
}

.loginPageText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.signInOptions {
  display: flex;
  gap: 10px;
}
.signInOptions button {
  box-shadow: 5px 5px 0px white;
  border: 2px solid #323031;
}

.loginContainer {
  background-color: #404040;
  width: 100%;
  border-radius: 10px;
  padding: 40px 20px;
}
.loginContainer h2 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.1rem, 0.96rem + 0.7vw, 1.8rem);
  text-transform: uppercase;
}
.loginContainer form {
  background-image: none;
}
.loginContainer form input {
  margin-right: 0;
}

.logInAnonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logInAnonContainer p {
  margin: 0;
}

.signUpControls {
  display: flex;
}
.signUpControls button {
  font-size: 0.8rem;
  background-color: transparent;
  color: #c0f5fa;
  padding: 5px;
  transition: color 0.4s ease-in-out;
}
.signUpControls button:hover {
  color: #ff5e5b;
}

@media screen and (max-width: 575px) {
  .loginPageMain {
    flex-direction: column-reverse;
  }
  .loginPageMain .headerImgContainer img {
    max-height: 300px;
  }
}
.ngramViewerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ngramViewerContent p {
  line-height: 1.5;
}

.ngramViewerMain {
  flex: 1;
}

.visualizerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.ngramViewer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.viewNgramPageBtn {
  border: 2px solid #323031;
  box-shadow: 5px 5px 0px #c0f5fa;
}

.ngramForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #fff;
  background-image: none;
  padding: 30px;
  margin-top: 10px;
  border-radius: 30px;
  border: 2px solid #323031;
  box-shadow: 5px 5px 0px #c0f5fa;
}
.ngramForm fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ngramForm fieldset legend {
  font-weight: bold;
  padding-bottom: 10px;
  color: #323031;
}
.ngramForm fieldset legend a {
  color: #ff5e5b;
}
.ngramForm fieldset legend a:hover {
  color: #c0f5fa;
}
.ngramForm button {
  background-color: #ff5e5b;
  box-shadow: 5px 5px 0px #c0f5fa;
}
.ngramForm button:hover {
  background-color: #c0f5fa;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #fff;
  color: #c0f5fa;
  font-weight: bold;
}

.tooltip .icon {
  font-size: 0.6rem;
}
.tooltip .tooltipText {
  font-weight: 400;
  visibility: hidden;
  width: 300px;
  font-size: 0.8rem;
  background-color: #fff;
  color: #323031;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: pre-wrap;
  z-index: 1;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

@media screen and (max-width: 800px) {
  .tooltip:hover .tooltipText {
    visibility: hidden;
  }
}
.userProfile {
  position: absolute;
  width: 100%;
}
.userProfile h2 {
  padding-top: 30px;
}

.profileButtons {
  text-align: center;
}

.backButton {
  margin: 30px;
  border: 2px solid #323031;
  box-shadow: 5px 5px 0px #fff;
}

.deleteProfileButton {
  color: #fff;
  background-color: #ff5e5b;
  margin: 30px;
  border: 2px solid #323031;
  box-shadow: 5px 5px 0px #fff;
  transition: 0.4s ease-in-out;
}
.deleteProfileButton:hover {
  color: #323031;
  background-color: #fff;
  box-shadow: 5px 5px 0px #ff5e5b;
}

.accountDeleteBanner {
  background-color: #ff5e5b;
  transition: 0.25s ease-in-out;
  height: 0;
  position: relative;
  top: -100vh;
}

.deleteMessageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deleteMessageContainer p {
  color: #fff;
  margin: 0;
  font-weight: bold;
}

.deleteButtonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.deleteButtonContainer > * {
  transition: none;
}
.deleteButtonContainer button {
  margin: 30px;
  border: 2px solid #323031;
  box-shadow: 5px 5px 0px #fff;
  transition: 0.4s ease-in-out;
}
.deleteButtonContainer button:hover {
  background-color: #fff;
  box-shadow: 5px 5px 0px #323031;
}

.addHeight {
  top: 0vh;
  height: 100%;
}

.emptyProfileMessage {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emptyProfileMessage h3 {
  width: 75%;
  text-align: center;
}

.loadingContainer {
  padding: 20px;
  position: fixed;
}

.loadingBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 250px;
  height: 250px;
  border: 3px solid #ff5e5b;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
}
.loadingBar::before {
  content: "";
  position: absolute;
  width: 260px;
  height: 260px;
  top: -11px;
  left: -11px;
  border: 3px solid #e0e0e0;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
}
.loadingBar::after {
  content: "";
  position: absolute;
  width: 228px;
  height: 228px;
  top: 5px;
  left: 5px;
  border: 3px solid #c0f5fa;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
}

@-webkit-keyframes spin {}

@keyframes spin {}/*# sourceMappingURL=App.css.map */